// GILROY
@font-face {
    font-family: "Gilroy";
    src: url("./gilroy/Gilroy-Bold.ttf") format("ttf"),
        url("./gilroy/Gilroy-Bold.woff") format("woff"),
        url("./gilroy/Gilroy-Bold.eot") format("eot");
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy";
    src: url("./gilroy/Gilroy-ExtraBold.ttf") format("ttf"),
        url("./gilroy/Gilroy-ExtraBold.woff") format("woff"),
        url("./gilroy/Gilroy-ExtraBold.eot") format("eot");
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";
    src: url("./gilroy/Gilroy-Light.ttf") format("ttf"),
        url("./gilroy/Gilroy-Light.woff") format("woff"),
        url("./gilroy/Gilroy-Light.eot") format("eot");
    font-weight: 300;
}

@font-face {
    font-family: "Gilroy";
    src: url("./gilroy/Gilroy-Medium.ttf") format("ttf"),
        url("./gilroy/Gilroy-Medium.woff") format("woff"),
        url("./gilroy/Gilroy-Medium.eot") format("eot");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("./gilroy/Gilroy-Regular.ttf") format("ttf"),
        url("./gilroy/Gilroy-Regular.woff") format("woff"),
        url("./gilroy/Gilroy-Regular.eot") format("eot");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("./gilroy/Gilroy-SemiBold.ttf") format("ttf"),
        url("./gilroy/Gilroy-SemiBold.woff") format("woff"),
        url("./gilroy/Gilroy-SemiBold.eot") format("eot");
    font-weight: 600;
}

// GRENNWICH
@font-face {
    font-family: "Greenwich";
    src: url("./greenwich/Greenwich-Bold.ttf") format("ttf"),
        url("./greenwich/Greenwich-Bold.woff") format("woff"),
        url("./greenwich/Greenwich-Bold.woff2") format("woff2"),
        url("./greenwich/Greenwich-Bold.eot") format("eot");
    font-weight: 700;
}

// proximanova
@font-face {
    font-family: "Proximanova";
    src: url("./proximanova/ProximaNova-Bold.ttf") format("ttf"),
        url("./proximanova/ProximaNova-Bold.woff") format("woff"),
        url("./proximanova/ProximaNova-Bold.eot") format("eot");
    font-weight: 700;
}

//Zingrustdemo
@font-face {
    font-family: "ZingRustDemo";
    src: url("./zingrustdemo/ZingRustDemo.ttf") format("ttf"),
        url("./zingrustdemo/ZingRustDemo.otf") format("otf");
    font-weight: 400;
}