.header {
  &-nav {
    padding: 25px 0;
    background: var(--brown);
    box-shadow: 0px 30px 60px var(--lightBlack);

    @media (max-width: 768px) {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 0;
    }

    &_content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        justify-content: space-between;
        height: 60px;
      }

      .logo {
        margin-right: 70px;

        @media (max-width: 1024px) {
          margin-right: 30px;
        }

        @media (max-width: 800px) {
          margin-right: 15px;
        }

        @media (max-width: 768px) {
          margin-right: 0;
        }
      }

      .smallscreen {
        display: none;
        height: inherit;

        &_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background: transparent;
          width: 80px;
          height: inherit;
          font-weight: 700;
          font-size: 26px;
          line-height: 15px;
          color: var(--white);


          @media (max-width: 375px) {
            width: 50px;
          }

          @media (max-width: 374px) {
            span {
              display: none;
            }
          }

          svg {
            color: var(--darkGreen);
            font-size: inherit;
            margin-bottom: 3px;

            @media (max-width: 374px) {
              width: 80%;
              height: 80%;
              margin-bottom: 0;
            }
          }
        }

        @media (max-width: 768px) {
          display: block;
        }
      }

      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        margin-right: 15.4%;

        @media (max-width: 1313px) {
          margin-right: 14.2%;
        }

        @media (max-width: 1312px) {
          margin-right: 14.8%;
        }

        @media (max-width: 1199px) {
          margin-right: 6.5%;
        }

        @media (max-width: 1024px) {
          margin-right: 2.8%;
        }

        @media (max-width: 1023px) {
          margin-right: 4.5%;
        }

        @media (max-width: 800px) {
          margin-right: 4.9%;
        }

        @media (max-width: 768px) {
          display: none;
        }

        &_search {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 555px;
          height: inherit;
          margin-right: 30px;
          position: relative;

          @media (max-width: 1024px) {
            width: 480px;
            margin-right: 20px;
          }

          @media (max-width: 991px) {
            width: 430px;
            margin-right: 20px;
          }

          @media (max-width: 800px) {
            width: 400px;
          }

          &-form {
            flex-grow: 1;
            height: inherit;
            position: relative;
            user-select: none;

            &:hover,
            &:focus-visible {
              button {
                svg {
                  path {
                    stroke: var(--darkGreen);
                  }
                }
              }
            }

            button {
              position: absolute;
              border: none;
              background: transparent;
              outline-color: var(--darkGreen);
              width: 25px;
              height: 25px;

              svg {
                pointer-events: none;
                width: inherit;
                height: inherit;
                color: var(--white);

                path {
                  stroke: var(--grey);
                }
              }
            }

            &_location {
              top: 25%;
              left: 15px;

              svg {
                color: var(--grey);
              }
            }

            &_search {
              top: 25%;
              right: 15px;
            }

            input {
              padding: 15px 17px 15px 45px;
            }
          }

          &-list {
            position: absolute;
            left: 0;
            transform: translateY(-100%);
            z-index: -1;
            padding: 10px 0 20px 45px;
            width: 100%;
            transition: .5s ease-in-out;
            li {
              a {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: var(--white);
              }
            }

            &.showsearch {
              transform: translateY(-0%);
              bottom: -97%;
              z-index: 1;
              background: var(--lightBrown);
              box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
              border-radius: 0 0 10px 10px;
            }
          }
        }

        &_tel {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: inherit;

          @media (max-width: 800px) {
            justify-content: center;
          }

          &-btn {
            border: none;
            outline: none;
            width: 32px;
            height: 32px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--green);
            border-radius: 50%;

            svg {
              font-size: 22px;
              user-select: none;
              pointer-events: none;
            }
          }

          &-number {
            display: flex;
            flex-direction: column;

            @media (max-width: 800px) {
              display: none;
            }

            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: var(--grey);
              margin-bottom: 2px;
            }

            a {
              font-weight: bold;
              font-size: 17px;
              line-height: 20px;
              color: var(--white);
            }
          }
        }

      }

      &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        height: inherit;
        padding: 7px 18px;
        border-radius: 10px;
        background: var(--green);
        user-select: none;

        @media (max-width: 768px) {
          align-items: center;
          flex-direction: column;
          width: 80px;
          padding: 10px;
        }

        @media (max-width: 375px) {
          width: 50px;
          justify-content: center;
          padding: 10px;
        }

        div {
          width: 2px;
          height: 40px;
          background: rgba(255, 255, 255, 0.3);

          @media (max-width: 768px) {
            transform: rotate(90deg);
          }

          @media (max-width: 425px) {
            display: none;
          }
        }

        .icon {
          display: none;
          background: transparent;

          svg {
            font-size: 26px;
            color: var(--white);
            margin-bottom: 2px;
          }

          @media (max-width: 374px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          @media (max-width: 768px) {
            display: block;
          }

        }

        .small {
          display: none;
          font-weight: 600;
          font-size: 17px;
          line-height: 14px;

          @media (max-width: 768px) {
            display: block;
          }

          @media (max-width: 375px) {
            display: none;
          }
        }

        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 17px;
          color: var(--white);

          @media (max-width: 768px) {
            display: none;
          }
        }

        span {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 13px;
          line-height: 14px;
          background: var(--white);
          color: var(--brown);

          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      &-small_search {
        display: none;
        margin-top: 15px;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}